<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px">

<div>
<mat-card fxFlex="100%">
<mat-card-header>
<div mat-card-avatar></div>
<mat-card-title>
 <h3>TECHNICAL SOCIETIES</h3>
</mat-card-title>
</mat-card-header>
<img mat-card-image src="./assets/Technical.jpg" alt="TechSoc">
<mat-card-content>
<p>
</p>
</mat-card-content>
</mat-card>
</div>

<div>
<mat-card fxFlex="150%">
<mat-card-header>
<div mat-card-avatar></div>
<mat-card-title>
 <h3>NON TECHNICAL SOCIETIES</h3>
</mat-card-title>
</mat-card-header>
<img mat-card-image src="./assets/Non-Tech.jpg" alt="NonTech">
<mat-card-content>
<p>
</p>
</mat-card-content>
</mat-card>
</div>

<div>
<mat-card fxFlex="100%">
    <mat-card-header>
    <div mat-card-avatar></div>
    <mat-card-title>
         <h3>CULTURAL SOCIETIES</h3>
    </mat-card-title>
    </mat-card-header>
    <img mat-card-image src="./assets/cultural.jpg" alt="cultural">
    <mat-card-content>
        <p>
        </p>
    </mat-card-content>
</mat-card>
</div>